div{
   box-shadow:  8px 14px 10px 14px darkgrey;
    height: 35em;
    margin-left: 9em;
    margin-right: 9em;
}
iframe{
    width:-webkit-fill-available;
     height: 500px;;
     box-shadow: 2;
}
h1{
    padding-left: 10px;
    padding-top: 10px;
     margin: 0;
}
*{
    color: darkgray !important;
}
